@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h2>PEPPOL SMP - (mode: TEST)</h2>
    
    <ul>
        <li>
            <a asp-area="" asp-controller="SmpParticipant" asp-action="List">Managed participants on this SMP</a>
        </li>
    </ul>
</div>
